/* Logo top left */

.brand img {
  margin-top: 10px;
  height: 100px;
}

.brand {
 float: left;
  margin: 0 0 20px 20px;
  color: #ffffff;
}

.brand img {
  height: 70px;
  padding: 10px;
}

/* Main Header Image */

.main {
  background-image: url("images/top.jpg");
  padding: 30px;
  height: 45vh;
  background-size: cover;
  background-position: center;
}

/* User photo and name top right */

.login {
  float: right;
  margin: 0 0 20px 20px;
  color: #ffffff;
}

#jb {
  padding: 10px;
}
.flex {
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

/* Remove standard body margin */

body,html {
  margin:0;
  padding:0;
}

/* Body CSS */

body {
  background: rgb(245,245,245);
  color: #66778e;
  font-family: 'Josefin Sans', sans-serif;
}

/* Links CSS */

a {
  text-decoration: none;
}

/* Titles and Link CSS */

h1, h2, h3, a {
  font-family: 'Open Sans', sans-serif;
  color: #55667e;
}

h1 {
  font-weight: 500;
}

h2 {
  font-weight: 200;
  font-size: 20px;
}


/* CSS giving the boxes a colour and drop shadow, as well as centering content */

.card {
  background: #ffffff;
  background-image: url("images/footer-back.png");
  width: 600px;
  padding: 30px;
  margin: 20 auto;
  text-align: center;
  border-radius: 5px;
  box-shadow: -1px 4px 40px -6px rgba(173,173,173,0.44);
}

.card h1 {
  margin-bottom: 10px;
}

.card h2 {
  margin-top: 0px;
  font-size: 20px;
}



/* Links CSS */

#header-img {
  width: 50px;
  border-radius: 50%;
  border-style: solid;
  border-color: rgb(245,245,245);
  text-align: right;
  margin: 10px;
}

/* CSS for the photo of me */

#logo {
  margin-top: -100;
  width: 120px;
  border-radius: 50%;
  border-style: solid;
  border-color: rgb(245,245,245);
}

.push {
  margin-top: -220;
}

/* Photos in the CV section */

.work-images {
width: 50px;
border-radius: 50%;
border-style: solid;
border-color: #efefef;
margin-right: 20px;
}

/* CSS to put the list items inline and create padding between items */

.inline-list >li {
  display: inline-block;
  padding: 0 30;
}

.inline-list i {
  font-size: 35px;
}

ul {
  padding-left: 0
}

td {
  padding-top: 50px;
}

/* CSS buttons */

.btn {
  -webkit-border-radius: 7;
  -moz-border-radius: 7;
  border-radius: 7px;
  font-family: Arial;
  color: #ffffff;
  font-size: 17px;
  background: #66778e;
  padding: 10px 20px 10px 20px;
  margin:auto;
  text-decoration: none;
  width: 100px;
}

.btn:hover {
  background: #90a1b8;
  text-decoration: none;
}

/* Footer */

.bottom {
  background: #ffffff;
  text-align: center;
  padding: 20 0;
}


/* CSS creating division of main page content and sidebar */

#sidebar {
  position: fixed;
  width: 25px;
  left: 0;
  top: 0;
  bottom: 0;
  background: #66778e;
  padding: 20px;
}
#page-content {
  margin-left: 45px;
}

.side-bar-icons i {
  padding-top: 30;
  font-size: 30;
  color: #ffffff;
}


